@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 20px;
}

.sfondo {
  background-color: #ffddcc;
}

.form {
  background-color: rgb(255, 227, 186);
  align-content: center;
}

html {
  font-family: var(--font-montserrat);
}
